
#products {


  width: 100%;


  .item-wrap{

    @include transition-property(all);
    @include transition-duration(1s);
    @include transition-timing-function(ease-out);

    position: relative;
    white-space: nowrap;
    width: 100%;
    margin: 0;
    overflow: scroll;

    .items {
      list-style: none;

      margin: 0;

      li {
        display: inline-block;
        vertical-align: text-bottom;
        margin: 40px;
      }

      a {
        color: #ffffff;

        .thumb{

          @include transition-property(all);
          @include transition-duration(.3s);
          @include transition-timing-function(ease-out);

          &:hover{
            //opacity: .5;
            //@include translateZ(200px);
            -webkit-transform: scale(1.2,1.2);
            z-index: 1;

          }

        }

      }
    }
  }

  .isOut{
     width: 200% !important;
    left: -50%;

  }


}

