#sales {

  width: 60%;

  .item-wrap {

    @include transition-property(all);
    @include transition-duration(1s);
    @include transition-timing-function(ease-out);

    position: relative;
    white-space: nowrap;
    width: 100%;
    margin: 0;
    overflow: scroll;

    .items {
      list-style: none;

      margin: 0;

      li {
        display: inline-block;
        vertical-align: text-bottom;
        margin: 40px;
      }

      a {
        color: #ffffff;

        .thumb {

          @include transition-property(all);
          @include transition-duration(.3s);
          @include transition-timing-function(ease-out);

          &:hover {
            -webkit-transform: scale(1.2, 1.2);
            z-index: 1;
          }
        }
      }
    }

    img{
      width: 300px;
      height: 184px;
      background-color: #ffffff;
    }

  }

  .isOut {
    width: 200% !important;
    left: -50%;

  }
}